.item-c{
    --background: #f3f3f3;
    font-size: 12px;
    margin-bottom: 5px;
    // border-bottom: 1px black;
    margin-left: -15px;
    color: #666;

}

.icon_color{
   color:#26A69A;
   font-size: 25px;
}

.title_text{
    font-size: 14px; 
    font-weight: bold;
    color: #0c4a93;
}

.text_align{
    text-align: end;
}

.text_option{
 white-space: pre-line !important;
}