.row_1{
    // font-size: 15px;
    // background-color: #c1c1c1;
    // font-weight: 600;

    background: #f1f1f1 none repeat scroll 0 0;
    color: #000;
    font-size: 14px;
    margin: 10px 0 0;
    padding: 5px;
    text-transform: uppercase;
    font-weight: 600;
}

.text_size{
    font-size: 12px;

}

.dotted-border{
    border-bottom-style: dotted;
    font-size: 12px;
    font-weight: 600;
    border-bottom-color:  #666;
}

.dotted-border-top{
    border-top-style: dotted;
    font-size: 12px;
    border-top-color:  #666;
}


.title_text{
    font-size: 14px; 
    font-weight: bold;
    color: #0c4a93;
}

.text_view{
    font-size: 12px;
    font-weight: 600;
}